#page-mod-feedcam-view #record {
    height: 35px; width: 200px; color:#36AE79;
}
#page-mod-feedcam-view #stop {
height: 35px; width: 150px;
}
#page-mod-feedcam-view #delete {
height: 35px; width: 150px;
}

#page-mod-feedcam-view #videotitle {
    height: 35px; width: 200px;
}

#page-mod-feedcam-view #store {
height: 40px; width: 200px; font-size:13px;color:#00BFFF;margin-left: 0%;
}
#page-mod-feedcam-view .databaseimage {
 height:42px; width:60px;
}
#page-mod-feedcam-view  #backbutton {
 height: 40px; width: 180px;
}
#page-mod-feedcam-view #deleteselected {
 height: 40px; width: 180px;color:red;
}
#page-mod-feedcam-view #firstdiv{
    border-bottom:2px solid #0070a8; height:110px; width:900px;
}

#page-mod-feedcam-view  #firstpara{
text-align:justify;font-size:12px;color: #333333;font-family: Century Gothic, sans-serif;
}
#page-mod-feedcam-view  #video-container{
margin-left:0px;margin-top:15px;text-align: center; border-right:1px solid #0070a8;height:500px;width:890px;
}
#page-mod-feedcam-view  #container{
padding:1em 1em; width: 600px; height: 200px;margin-top: 30px;
}
#page-mod-feedcam-view  #preview{
border:1px solid #0070a8;height: 430px; width: 580px;
}
#page-mod-feedcam-view  .itemidprint{
color:#A80707; font-weight:300;float:right;
}
#page-mod-feedcam-view  .curruptprint{
color:#A80707;
}

#page-mod-feedcam-view  #deletemul{
height: 40px; width: 180px;
}

#page-mod-feedcam-view  #storetable{
overflow: auto; width: 700px; height: 500px;margin-left:10%;
}

.watch{
height: 30px; width: 150px;
}

.watch2{
height: 30px; width: 90px;
}

.watchbar{
height: 20px; width: 220px;
}

.videowatch{
border: 1px solid rgb(15, 158, 238); height: 500px; width: 660px;
}



#page-mod-feedcam-view  table.datatable {
	font-family: verdana,arial,sans-serif;
	font-size:13px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
        table-layout: auto;
}
#page-mod-feedcam-view  table.datatable th {
	background-color:#fafafa;
	border-width: 0px;
        border-bottom-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #a9c6c9;
        width: auto;
        
}
#page-mod-feedcam-view  table.datatable tr {
	background-color:#FFFFFF;
        width: auto;
}
#page-mod-feedcam-view  table.datatable td {
	border-width: 0px;
        border-bottom-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #a9c6c9;
        column-width: 250px ;
        width: auto;
        
}



