#page-mod-feedcam-view #record {
    height: 32px; width: 140px; color:#36AE79;
}
#page-mod-feedcam-view #stop {
height: 35px; width: 150px; color:red;
}
#page-mod-feedcam-view #delete {
height: 35px; width: 150px; color:red;
}
#page-mod-feedcam-view #store {
height: 35px; width: 160px; font-size:13px;color:#00BFFF;
}
#page-mod-feedcam-view .databaseimage {
 height:42px; width:60px;
}
#page-mod-feedcam-view  #backbutton {
 height: 40px; width: 180px;
}
#page-mod-feedcam-view #deleteselected {
 height: 40px; width: 180px;color:red;
}
#page-mod-feedcam-view #firstdiv{
    border-bottom:2px solid #0070a8; height:110px; width:900px;
}

#page-mod-feedcam-view  #firstpara{
text-align:justify;font-size:12px;color: #333333;font-family: Century Gothic, sans-serif;
}
#page-mod-feedcam-view  #video-container{
margin-left:0px;margin-top:15px;text-align: center; border-right:1px solid #0070a8;height:500px;width:890px;
}
#page-mod-feedcam-view  #container{
padding:1em 1em; width: 600px; height: 200px;margin-top: 70px;
}
#page-mod-feedcam-view  #preview{
border:1px solid #0070a8;height: 430px; width: 580px;
}
#page-mod-feedcam-view  .itemidprint{
color:#A80707; font-weight:300;float:right;
}
#page-mod-feedcam-view  .curruptprint{
color:#A80707;
}

#page-mod-feedcam-view  #deletemul{
height: 40px; width: 180px;
}

#page-mod-feedcam-view  #storetable{
overflow: scroll; width: 500px; height: 600px;margin-left:35%;
}
